OPENAI_API_KEY='dummy'
CLI_ARGS_CLASSIF="--fit on --port 8081 --host 0.0.0.0 --embeddings --flash_attn on -t 2 -ctk q8_0 -ctv q8_0 --api-key ${OPENAI_API_KEY}"
MODEL_CLASSIFICATION='jina-embeddings-v5-text-small-classification-Q8_0.gguf'
CLI_ARGS_RETRIEVAL="--fit on --port 8082 --host 0.0.0.0 --embeddings --flash_attn on -t 2 -ctk q8_0 -ctv q8_0 --api-key ${OPENAI_API_KEY}"
MODEL_RETRIEVAL='jina-embeddings-v5-text-small-retrieval-Q8_0.gguf'

SCOPES="['app']"

#--reasoning-budget 0 turn thinking off
#LLM
CLI_ARGS_BASE='--fit on --port 8080 --host 0.0.0.0'
INSTRUCT="${CLI_ARGS_BASE} --temp 1.0 --top-p 0.95 --top-k 20 --min-p 0.0 --jinja --repeat-penalty 1.0 --presence-penalty 1.5"
INSTRUCT_GENERAL="${CLI_ARGS_BASE} --temp 0.7 --top-p 0.8 --top-k 20 --min-p 0.0 --jinja --repeat-penalty 1.0 --presence-penalty 1.5"
THINK_CODE="--fit on --port 8080 --host 0.0.0.0 --ctx-size 65536 --temp 0.6 --top-p 0.95 --top-k 20 --min-p 0.00 --chat-template-kwargs '{\"enable_thinking\":true}'"
CLI_ARGS="${THINK_CODE} --flash_attn on -t 16 --api-key ${OPENAI_API_KEY}"
MODEL_LLM='Qwen3.5-9B-UD-Q4_K_XL.gguf'