OPENAI_API_KEY='dummy'
CLI_ARGS_CLASSIF="--fit on --port 8081 --host 0.0.0.0 --embeddings --flash_attn on -t 2 -ctk q8_0 -ctv q8_0 --api-key ${OPENAI_API_KEY}"
MODEL_CLASSIFICATION='jina-embeddings-v5-text-small-classification-Q8_0.gguf'
CLI_ARGS_RETRIEVAL="--fit on --port 8082 --host 0.0.0.0 --embeddings --flash_attn on -t 2 -ctk q8_0 -ctv q8_0 --api-key ${OPENAI_API_KEY}"
MODEL_RETRIEVAL='jina-embeddings-v5-text-small-retrieval-Q8_0.gguf'

#LLM
CLI_ARGS_BASE='--fit on --port 8080 --host 0.0.0.0'
CLI_ARGS="${CLI_ARGS_BASE} --flash_attn on -t 16 --no-mmap --jinja -ctk q8_0 -ctv q8_0 --temp 1.0 --min-p 0.0 --top-p 0.95 --top-k 20 --repeat-penalty 1.0 --presence-penalty 1.5 --api-key ${OPENAI_API_KEY}"
MODEL_LLM='Qwen3.5-9B-Q8_0.gguf'